<!DOCTYPE html>
<html>
  <head>
    <style>
@page {
  size: auto;
  header: html_DefaultHeader;
  footer: html_DefaultFooter;
}

body {
  font-family: thsarabun;
}

.cl-title {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.cl-header {
  text-align: right;
  border-bottom: 1px solid #C0C0C0;
  font-weight: bold;
  font-size: 10pt;
}

.cl-footer {
  text-align: right;
  border-top: 1px solid #C0C0C0;
  font-weight: bold;
  font-size: 10pt;
}

.cl-logo {
  width: 120px;
}

table.data-list {
  width: 100%;
  border-collapse: collapse;
}

table.data-list th,
table.data-list td {
  border: 1px solid black;
}

.cl-code,
.cl-number {
  font-family: monospace;
  font-size: 0.60em;
}

.cl-number {
  text-align: right;
}

.cl-layout-cell {
  margin: 0;
  padding: 0;
}

table.cl-collapse,
table.cl-layout-cell {
  border-collapse: collapse;
}

.cl-labeled-cell {
  text-align: right;
  font-weight: normal;
}

.cl-bordered-cell {
  border: 1px solid black;
}

.cl-strong {
  font-weight: bold;
}
    </style>
  </head>

  <body>
    <htmlpageheader name="DefaultHeader">
      <table width="100%" class="cl-header">
        <tr>
          <td style="width: 40%; text-align: left;">{{ profile.profileData.name }}</td>
          <td style="width: 20%; text-align: center; font-weight: bold;"></td>
          <td style="width: 40%; text-align: right;">VAT BY EXPENSE REPORT</td>
        </tr>
      </table>
    </htmlpageheader>

    <htmlpagefooter name="DefaultFooter">
      <table width="100%" class="cl-footer">
        <tr>
          <td style="width: 40%; text-align: left;">{{ "now"|date('d/m/Y H:i:s') }}</td>
          <td style="width: 20%; text-align: center;">หน้าที่ {PAGENO}/{nbpg}</td>
          <td style="width: 40%; text-align: right;">RP-FI-PU-EP-Vat_rev.2.1.0</td>
        </tr>
      </table>
    </htmlpagefooter>

    <h1 class="cl-title">รายงานภาษีมูลค่าเพิ่ม โดย ใบจ่ายเงิน (Vat by EP-FI)</h1>

    <table style="width: 100%">
      <tr>
        <td style="font-weight: bold; text-align: right; width: 12.5%">โครงการ :</td>
        <td style="font-weight: normal; text-align: left; width: 87.5%">
          {% if filterDetail.project is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>[{{ filterDetail.project.code }}] {{ filterDetail.project.name }}</span>
          {% endif %}
        </td>
      </tr>
    </table>
    <table style="width: 100%">
      <tr>
        <td style="font-weight: bold; text-align: right; width: 12.5%">งบประมาณ :</td>
        <td style="font-weight: normal; text-align: left; width: 50%">
          {% if filterDetail.boq is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>{{ filterDetail.boq.name }}</span>
          {% endif %}
        </td>
        <td></td>
        <td style="font-weight: bold; text-align: right; width: 12.5%">ประเภท :</td>
        <td style="font-weight: normal; text-align: left; width: 25%">
          {% if filterDetail.budgetType is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>{{ filterDetail.budgetType.name }}</span>
          {% endif %}
        </td>
      </tr>
    </table>
    <table style="width: 100%">
      <tr>
        <td style="font-weight: bold; text-align: right; width: 12.5%">ผู้ต้องการ :</td>
        <td style="font-weight: normal; text-align: left; width: 87.5%">
          {% if filterDetail.requester is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>[{{ filterDetail.requester.code }}] {{ filterDetail.requester.name }}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold; text-align: right; width: 12.5%">ผู้จำหน่าย :</td>
        <td style="font-weight: normal; text-align: left; width: 87.5%">
          {% if filterDetail.vendor is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>[{{ filterDetail.vendor.code }}] {{ filterDetail.vendor.name }}</span>
          {% endif %}
        </td>
      </tr>
    </table>
    <table style="width: 100%">
      <tr>
        <td style="font-weight: bold; text-align: right; width: 12.5%">สถานะเอกสาร :</td>
        <td style="font-weight: normal; text-align: left; width: 12.5%">
          {% if filterDetail.approved is not defined %}
              <span>ทั้งหมด</span>
          {% elseif filterDetail.approved == 1 %}
              <span>อนุมัติ</span>
          {% elseif filterDetail.approved == 0 %}
              <span>รออนุมัติ</span>
          {% endif %}
        </td>
        <td style="font-weight: bold; text-align: right; width: 12.5%">สถานะVAT :</td>
        <td style="font-weight: normal; text-align: left; width: 12.5%">
          {% if filterDetail.vatFactor is not defined %}
              <span>ทั้งหมด</span>
          {% elseif filterDetail.vatFactor == 1 %}
              <span>มี</span>
          {% elseif filterDetail.vatFactor == 0 %}
              <span>ไม่มี</span>
          {% endif %}
        </td>
        <td style="font-weight: bold; text-align: right; width: 12.5%">วันที่เริ่มต้น :</td>
        <td style="font-weight: normal; text-align: left; width: 12.5%">
          {% if filterDetail.start is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span>{{ filterDetail.start|date('d/m/Y') }}</span>
          {% endif %}
        </td>
        <td style="font-weight: bold; text-align: right; width: 12.5%">วันที่สิ้นสุด :</td>
        <td style="font-weight: normal; text-align: left; width: 12.5%">
          {% if filterDetail.end is not defined %}
              <span>ทั้งหมด</span>
          {% else %}
              <span style="padding-left:0%">{{ filterDetail.end|date('d/m/Y') }}</span>
          {% endif %}
        </td>
      </tr>
    </table>

    <table class="data-list">
      <thead>
        <tr style="background-color: #C0C0C0">
          <th rowspan="2" style="font-weight: bold;text-align: center;width: 2em;">ลำดับ</th>
          <th colspan="2" style="font-weight: bold;text-align: center;">เอกสาร</th>
          <th colspan="3" style="font-weight: bold;text-align: center;">โครงการ</th>
          <th rowspan="2" style="font-weight: bold;text-align: center;width: 3em;">ผู้ต้องการ</th>
          <th rowspan="2" style="font-weight: bold;text-align: center;width: 3em;">ผู้จำหน่าย</th>
          <th rowspan="2" style="font-weight: bold;text-align: center;width: 2em;">สถานะVAT</th>
          <th colspan="3" style="font-weight: bold;text-align: center;">มูลค่า (บาท)</th>
        </tr>
        <tr style="background-color: #C0C0C0">
          <th style="font-weight: bold;text-align: center;width: 5em;">เลขที่</th>
          <th style="font-weight: bold;text-align: center;width: 4em;">สถานะ</th>
          <th style="font-weight: bold;text-align: center;width: 3em;">รหัส</th>
          <th style="font-weight: bold;text-align: center;width: 8em;">งบประมาณ</th>
          <th style="font-weight: bold;text-align: center;width: 6em;">ประเภท</th>
          <th style="font-weight: bold;text-align: center;width: 3em;">VAT</th>
          <th style="font-weight: bold;text-align: center;width: 4em;">ไม่รวมVAT</th>
          <th style="font-weight: bold;text-align: center;width: 4em;">รวมสุทธิ</th>
        </tr>
      </thead>
      <tbody>
        {% for data in model %}
          <tr>
            <td style="text-align: center;">{{ loop.index }}</td>
            <td style="text-align: center;">{{ data.code }}</td>
            <td style="text-align: center;">{{ (data.approved)? 'อนุมัติ' :'รออนุมัติ' }}</td>
            <td style="text-align: center;">{{ data.project }}</td>
            <td style="text-align: left;">{{ data.boq }}</td>
            <td style="text-align: center;">{{ data.budgetType }}</td>
            <td style="text-align: center;">{{ data.requester }}</td>
            <td style="text-align: center;">{{ data.vendor }}</td>
            <td style="text-align: center;">{{ (data.vatFactor)? 'มี':'ไม่มี' }}</td>
            <td class="cl-number">{{ data.vatCost|number_format(2) }}</td>
            <td class="cl-number">{{ data.excludeVat|number_format(2) }}</td>
            <td class="cl-number">{{ data.docTotal|number_format(2) }}</td>
          </tr>
        {% endfor %}
        <tr style="background-color: #C0C0C0">
          <td colspan="9" style="font-weight: bold;text-align: center;">รวม</td>
          <td class="cl-number">{{ model|asum('vatCost')|number_format(2) }}</td>
          <td class="cl-number">{{ model|asum('excludeVat')|number_format(2) }}</td>
          <td class="cl-number">{{ model|asum('docTotal')|number_format(2) }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>