<!DOCTYPE html>
<html>
  <head>
    <style>
@page {
  size: auto;
  header: html_DefaultHeader;
  footer: html_DefaultFooter;
}

body {
  font-family: thsarabun;
}

.cl-title {
  text-align: center;
}

.cl-header {
  text-align: right;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 10pt;
}

.cl-logo {
  width: 120px;
}

table.data-list {
  width: 100%;
  border-collapse: collapse;
}

table.data-list th,
table.data-list td {
  border: 1px solid black;
}

.cl-code,
.cl-number {
  font-family: monospace;
  font-size: 0.60em;
}

.cl-number {
  text-align: right;
}

.cl-layout-cell {
  margin: 0;
  padding: 0;
}

table.cl-collapse,
table.cl-layout-cell {
  border-collapse: collapse;
}

.cl-labeled-cell {
  text-align: right;
  font-weight: normal;
}

.cl-bordered-cell {
  border: 1px solid black;
}

.cl-strong {
  font-weight: bold;
}
    </style>
  </head>
  <body>
      <htmlpageheader name="DefaultHeader">
        <div class="cl-header cl-code">
          <table width="100%" style="vertical-align: bottom; color: #000000; font-weight: bold;">
            <tr>
              <td style="width: 33%; text-align: left;"><span style="font-weight: bold;">created by CONSOL</span></td>
              <td style="text-align: center; font-weight: bold;">Vat Report</td>
              <td style="width: 33%; text-align: right;"><span class="cl-code">xxxx</span></td>
            </tr>
          </table>
        </div>
      </htmlpageheader>

      <htmlpagefooter name="DefaultFooter" class="cl-footer">
          <table width="100%" style="vertical-align: bottom; color: #000000; font-weight: bold;">
              <tr>
                  <td style="width: 33%; text-align: left;"><span style="font-weight: bold;">{{ "now"|date('d/m/Y H:i:s') }}</span></td>
                  <td style="text-align: center; font-weight: bold;">{PAGENO}/{nbpg}</td>
                  <td style="width: 33%; text-align: right;">VAT-REPORT-rev1.0</td>
              </tr>
          </table>
      </htmlpagefooter>

      <h1 class="cl-title">Vat Report</h1>
      <table style="width: 100%;">
        <tr>
          <td style="width: 100px;">
{% if profile.logo %}
            <img class="cl-logo" src="var:logo" />
{% endif %}
          </td>
          <td>
            <table>
              <tr>
                <td style="font-weight: bold;">{{ profile.profileData.name }}</td>
              </tr>
              <tr>
                <td><span style="font-weight: bold;">ที่อยู่ :</span> {{
                  [
                    profile.profileData.address.address ?? false,
                    (profile.profileData.address.subdistrict ?? false)|sformat('ต.%s'),
                    (profile.profileData.address.district ?? false)|sformat('อ.%s'),
                    (profile.profileData.address.province ?? false)|sformat('จ.%s'),
                    profile.profileData.address.postalcode ?? false,
                  ]|vfilter(false, true)|join(' ')
                }}</td>
              </tr>
              <tr>
                <td><span style="font-weight: bold;">โทรศัพท์ :</span> {{ profile.phone }} <span style="font-weight: bold;">โทรสาร :</span> {{ profile.fax }}</td>
              </tr>
              <tr>
                <td><span style="font-weight: bold;">เลขประจำตัวผู้เสียภาษีอากร :</span> {{ profile.profileData.code }}</td>
              </tr>
            </table>
          </td>
          <td style="width: 180px;">
            <table style="width: 100%;">
              <tr>
                <td class="cl-labeled-cell cl-strong">เลขที่เอกสาร :</td>
                <td class="cl-code">xxxx</td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">วัน/เดือน/ปี :</td>
                <td class="cl-code">xxxx</td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">กำหนดส่งสินค้า :</td>
                <td class="cl-code">xxxxx</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%; vertical-align: top;">
            <table style="width: 100%;">
              <tr>
                <td style="font-weight: bold; text-align: right;">อ้างอิง :</td>
                <td>xxxxx</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">โครงการ :</td>
                <td>xxxxx</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ที่อยู่จัดส่ง :</td>
                <td>xxxxx</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ติดต่อ :</td>
                <td>xxxxx</td>
              </tr>
            </table>
          </td>
          <td style="width: 50%; vertical-align: top;">
            <table style="width: 100%;">
              <tr>
                <td style="font-weight: bold; text-align: right;">อ้างอิง :</td>
                <td></td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ขาย :</td>
                <td>xxxxx</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ที่อยู่ผู้ขาย :</td>
                <td>xxxxxx</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ติดต่อ :</td>
                <td>xxxxxx</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="data-list">
        <thead>
          <tr>
            <td colspan="5" style="border: none;"></td>
            <th style="border: none; width: 6em;">(ราคา : บาท)</td>
          </tr>
          <tr>
            <th style="width: 2em;">ลำดับ</th>
            <th>รายการ</th>
            <th style="width: 4em;">หน่วย</th>
            <th style="width: 5em;">ราคา/หน่วย</th>
            <th style="width: 5em;">ปริมาณ</th>
            <th style="width: 6em;">ราคารวม</th>
          </tr>
        </thead>
        <tbody>
{% for data in model %}
          <tr>
            <td style="text-align: center;">{{ loop.index }}</td>
            <td>{{ data.code }}</td>
            <td>{{ data.requester }}</td>
            <td class="cl-number">{{ data.docTotal|number_format(2) }}</td>
            <td class="cl-number">{{ data.excludeVat|number_format(2) }}</td>
            <td class="cl-number">{{ data.vatCost|number_format(2) }}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
      <div style="position: fixed; bottom: 0px;">
        <table class="cl-layout-cell" style="width: 100%;">
          <tr>
            <td class="cl-layout-cell" style="width: 50%; text-align: center">
              xxxx
            </td>
            <td class="cl-layout-cell" style="width: 50%; text-align: center">
              xxxx
            </td>
          </tr>
        </table>
      </div>
  </body>
</html>
